In [1]:
from pyspark.sql import SparkSession
import pandas as pd
from pyspark.sql.functions import col

#Create SparkSession 
spark = SparkSession.builder \
     .master("local[1]") \
     .appName("SparkByExamples.com") \
     .getOrCreate()

In [2]:
import findspark
findspark.init()

In [3]:
import pyspark

In [4]:
df = spark.read.csv("Absenteeism_new_data.csv",inferSchema=True, header=True)

# PySpark Aggregate Functions with Examples

approx_count_distinct----- unique items count in a specific column

avg- avg of specific column

collect_list-- list of all items in a column

collect_set- list of unique items in a column

countDistinct- distinct items count

count- total count

grouping

first

last

kurtosis

max

min

mean

skewness

stddev

stddev_samp

stddev_pop

sum

sumDistinct

variance, var_samp, var_pop

# approx_count_distinct Aggregate Function

In [5]:
from pyspark.sql.functions import *
df.select(approx_count_distinct(df["pets"])).collect()

[Row(approx_count_distinct(pets)=6)]

In [6]:
df.select(approx_count_distinct(df["pets"])).collect()[0][0]

6

In [10]:
#approx_count_distinct- returns "approx unique value"
print(df.select(approx_count_distinct(df["Pets"])).collect()[0][0])

print("*"*100)

# avg
df.select(avg("Pets")).collect()[0][0]

#collect_list  collect all items in list including duplicates 

print(df.select(collect_list("Pets")).show(truncate=False))

#collect_set - unique items


print(df.select(collect_set("Pets")).collect()[0][0])

6
****************************************************************************************************
+------------------------------------------------------------------------------------------------------------------------+
|collect_list(Pets)                                                                                                      |
+------------------------------------------------------------------------------------------------------------------------+
|[0, 4, 0, 0, 0, 2, 0, 0, 0, 0, 4, 0, 8, 0, 5, 0, 0, 0, 1, 0, 0, 8, 0, 0, 8, 0, 8, 1, 0, 1, 2, 0, 4, 2, 0, 1, 1, 8, 2, 1]|
+------------------------------------------------------------------------------------------------------------------------+

None
[0, 1, 5, 2, 4, 8]

# [PySpark Window Functions](https://sparkbyexamples.com/pyspark/pyspark-window-functions/)

row_number()
rank()
percent_rank()
dense_rank(): 
ntile(n: Int): 
cume_dist(): 
lag(columnName: String, offset: Int): 
lag(columnName: String, offset: Int, defaultValue: Any): 
lead(columnName: String, offset: Int): Column
lead(columnName: String, offset: Int): Column
lead(columnName: String, offset: Int, defaultValue: Any):

In [11]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

In [13]:
windowSpec  = Window.partitionBy("Pets").orderBy("Education")

df.withColumn("row_number",row_number().over(windowSpec)) \
    .select(["Pets","Education","row_number"]).show(truncate=False)

+----+---------+----------+
|Pets|Education|row_number|
+----+---------+----------+
|0   |1        |1         |
|0   |1        |2         |
|0   |1        |3         |
|0   |1        |4         |
|0   |1        |5         |
|0   |1        |6         |
|0   |1        |7         |
|0   |1        |8         |
|0   |1        |9         |
|0   |1        |10        |
|0   |1        |11        |
|0   |1        |12        |
|0   |1        |13        |
|0   |1        |14        |
|0   |2        |15        |
|0   |2        |16        |
|0   |3        |17        |
|0   |3        |18        |
|0   |3        |19        |
|0   |3        |20        |
+----+---------+----------+
only showing top 20 rows

# PySpark SQL Date and Timestamp Functions

# # pyspark sql date functions

current_date()	---- 

current date as a date column

******************************************************************************************
date_format(dateExpr,format)---

Converts a date/timestamp/string to a value of string in the format specified by the date format given by the second argument.

********************************************************************************************
to_date()	----Converts the column into `DateType` by casting rules to `DateType`.

*********************************************************************************
to_date(column, fmt)
--Converts the column into a `DateType` with a specified format
*************************************************************************************************


add_months(Column, numMonths)--

Returns the date that is `numMonths` after `startDate`

*********************************************************************************************
date_add(column, days)

********************************************************************************************


date_sub(column, days)	

Returns the date that is `days` days after `start`

88888888888888888888888888888888888888888888888888888888888888888888888888888888888888


datediff(end, start)	

Returns the number of days from `start` to `end`.

****************************************************************************************************
months_between(end, start)

Returns number of months between dates `start` and `end`.

A whole number is returned if both inputs have the same day of month or both are the last day of their respective months. Otherwise, the difference is calculated assuming 31 days per month.
***************************************************************************************************

months_between(end, start, roundOff)	

Returns number of months between dates `end` and `start`. If `roundOff` is set to true, the result is rounded off to 8 digits; it is not rounded otherwise.

***************************************************************************************************
next_day(column, dayOfWeek)	

Returns the first date which is later than the value of the `date` column that is on the specified day of the week.

***************************************************************************************************
For example, `next_day('2015-07-27', "Sunday")` returns 2015-08-02 because that is the first Sunday after 2015-07-27.

*************************************************************************************************

year(column)	

 year as an integer from a given date/timestamp/string

******************************************************************************************
quarter(column)   quarter as an integer from a given date/timestamp/string.
month(column)	  month as an integer from a given date/timestamp/string


***********************************************************************************
dayofweek(column)	

Extracts the day of the week as an integer 

Ranges from 1 for a Sunday through to 7 for a Saturday

**************************************************************************************************
dayofmonth(column)	-- day of the month as an integer 

dayofyear(column)	 day of the year as an integer

weekofyear(column)	-- week number as an integer 
***************************************************************************************************

# PYSPARK TIMESTAMP FUNCTION SIGNATURE

current_timestamp ()	----Returns the current timestamp as a timestamp column

***********************************************************************************
hour(column)------------------ hours as an integer from a given date/timestamp/string.

**************************************************************************************
minute(column)---------------	 minutes as an integer from a given date/timestamp/string.

**************************************************************************************
second(column)---------	 seconds as an integer from a given date/timestamp/string.

**********************************************************************************************
to_timestamp(column)------	Converts to a timestamp by casting rules to `TimestampType`.

***************************************************************************************************
to_timestamp(column, fmt)	----Converts time string with the given pattern to timestamp.

# [more info datetime](https://sparkbyexamples.com/pyspark/pyspark-sql-date-and-timestamp-functions/)